.card
    border 1px solid #3a8248
    background-color #73ccff
    padding-top 10px
    &+&
        margin-top 30px
.title
    padding-left 5px
.subtitle
    padding-left 5px
.info
    display flex
    margin-top 10px
    border-top 2px solid #3a8248
.infoBlock
    padding 5px