@import "global.styl"

.header
	background-color orange
.navbar
	padding 20px
	display flex
	margin auto
	width 500px
	justify-content space-between
.link
	color red
	font-size 20px
	a
		text-decoration none
		transition color .5s
		&:link
			color inherit
		&:visited
			color inherit
		&:hover
			color green
.footer
	background-color orange
.copyright
	padding 10px
	font-size 20px
	text-align: center
	color #000